* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    line-height: 1.6;
}
header{
    display: block;
    position: absolute;
   width: 100%;
   height: auto;
    background-color: aliceblue;
}

.container-nav{
    display: flex;
    max-width: 1140px;
    align-items: center;
    background-color: #ffffff;
    justify-content: space-between;
    padding: 20px;
}
.container-nav, .menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;  
}
.menu {
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px 5%;
}
 .btn {
    background-color: #30B868;
    border: none;
    padding: 16px 12px;
    border-radius: 4px;
    font-size: 16px;
    color: white;
   cursor: pointer;
   margin: 12px 12px 16px;
   size: 16px;
   
}

   .logo img{
    width: 139px;
    height: 60px;
    padding: auto;
    margin-left: 40px;
    margin-top: 16px;
    margin-bottom: 16px;
}
.btn-primary {
    display: flex;
    background: #30B868;
    color: white;
    border: none;
    size: 16px;
    gap: 8px;
    padding: 12px 18px;
    border-radius: 4px; 
    cursor: pointer; 
    
}

.btn-outline {
    
    color: #ffffff;
    padding: 16px 12px;
    cursor: pointer;
    border: 1x solid #ffffff;
    border-radius: 4px;
    background: linear-gradient(rgba(42, 40, 40, 0.75) rgba(42, 40, 40, 0.75));
}

.hero{
    padding: 100px ;
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    color: white;
}
.hero-bg{
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -2;
    padding-bottom: 134px;
}

.hero-container{
    max-width: 540px;
    margin-left: 120px;
}

.bdg {
    background: #30B868;
    padding: 6px 14px;
    border-radius: 999px;
    font-size: 14px;
    display: inline-block;
    margin-bottom: 40px;  
}

.hero h1{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 20px;
    font-size: bold;
}
.hero h1 span{
    color: #30B868;
}
.hero p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #666666;
}
.hero-btn{
    display: flex;
    gap: 15px;
}

.problems{
    background-color: #ffffff;
    gap: 30px;
    padding: 20px 120px 120px 120px;
}
.cta, .container{
    background-color: #f7f6f2d0;
    border: 1x solid rgb(235, 203, 180);
    padding: 80px 40px;
    border-radius: 4px;
}

.container{
    max-width: 1100px;
    margin: auto;
    text-align: center;
    
}

 .container h2{
        font-size: 32px;
        text-align: center;
}
.container p{
    margin-bottom: 50px;
    font-size: 16px;
    color: #627382;
    text-align: center;
}

.problem-gd{
    display: flex;
    columns: 4;
    gap: 25px;
    justify-content: space-between;
    border: 1x solid #627382;
}
.problem-gd h3{
    font-size: 18px;
    color: #001931;
    margin-bottom: 10px;
}

.problem-gd p{
    font-size: 14px;
    line-height: 1.5;;
    color: #627382;
}

.card img{
    width: auto;
    height: 60px;
    margin-bottom: 15px;
}
.card{
    background: #ffffff;
    padding: 25px 20px;
    border-radius: 12px;
    border: 1px solid #ffffff;
    border-color: aliceblue;

}
.solution{
    padding: 90px 0;
}

.solution-container{
    display: flex;
    gap: 60px;
    align-items: center;
}
.solution-image{
    display: flex;
    justify-content: center;
}

.solution-text{

    background: #ffffff;
    padding: 5opx;
    border-radius: 50%;
}
.button{
    background-color: #30B868;
    border: none;
    padding: 16px 12px;
    border-radius: 5px;
    font-size: 16px;
    color: white;
   cursor: pointer;
   
}
 .small{
    font-size: 16px;
    color: #30B868;
}

.solution-text h2{
    font-size: 48px;
    font-weight: 700;
    font-style: bold;
    color: #001931;
}
.solution-text p{
    font-size: 16px;
    color: #627382;
    padding: 30px;
}
.solution ul li{
    margin-bottom: 12px;
    background: url("../B13-A01-Knowledge-Vault/assets/CheckCircle.png");
    background-repeat: no-repeat;
    padding-left: 30px;
    margin-bottom: 12px;
    list-style: none;   
}

.cta{
    background: #ffffff;
    padding: 80px 0;
    text-align: center;
}
.cta h2{
    font-size: 40px;
    margin-bottom: 10px;
}
.cta p{
    margin-bottom: 25px;
    color: #627382;
}
.cta small{
    display: block;
    margin-top: 15px;
    color: #627382;
}

.footer{
    width: 100%;
    height: 100$;
    max-width: 1140px;
  background-color:  #1E1E1E;
  padding: 120px 120px 30px 120px;
  margin: auto;

}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left-footer{
    padding-left: 120px;
}

.right-footer{
    text-align: right;
    padding-left: 120px;
}
.right-footer h4{
    margin-bottom: 10px;
    font-size: 16px;
    color: #ffffff;
}
.footer-bottom{
    padding: 20px 0;
    
}

.footer-bottom p{
    margin: 0;
    text-align: center;
    font-size: 16px;
    color: #fafafa;
}








